@font-face {
    font-family: lora;
    src: url(../Lora/static/Lora-Medium.ttf);
  }
:root {
    --gradientCard: linear-gradient(-80deg,
            #43434331,
            #cdcdcd69,
            #e4e4e177,
            #36363618);
}
*{
    font-family: lora;
}

.main-wrapper{
    margin: 0;
    padding: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../assets/footer/flowers.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.siganos-wrapper{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    height: 300px;   
    background-image: var(--gradientCard);
    background-position: left;
    background-size: 130rem;
    transition: background-position 0.9s;
    justify-content: center;
    align-items: center; 
    border: 1px solid #ae325b1b ;
    border-radius: 40px;
    box-shadow: 12px 10px 13px rgba(0, 0, 0, 0.459);
}
.siganos-wrapper:hover{
    background-position: right;
}
.titulo-siganos{
    display: flex;
    color: #ae325b;
    font-weight:900;
    font-size: 18px;
    
}
.siganos-wrapper img{
    width: 15%;
    padding: 2px;
}
.text{
    text-align: center;
    margin:12px;
    color: #ae325b;
}
.button{
    background-color:#ffffff00;
    border-radius: 20px;
    border:1px solid #ae325b;
    padding: 1em 2em;
    font-size: 10px;
    font-weight: 600;
    color: #ae325b;
    cursor: pointer;
}
.button:hover{
    background-color: #aa788957;
    transition: 1s;    
}
@media (width < 480px){
    .titulo-siganos{
        font-size: 10px;
    }
}