*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --background-color: #daabbd;
}
.root{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
.hero-viewport-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#smooth-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  width: 100%;
  overflow: visible;
}