@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,900&display=swap');

:root {
  --font-body: 'Cormorant Garamond', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif ;
  font-weight: 900;
}

:root {
  --background-color: #daabbd;

}

.root {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

.hero-viewport-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#smooth-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  width: 100%;
  overflow: visible;
}